<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogDebug" value="True"/>
    <add key="LogError" value="True"/>
    <add key="Interval" value="1000"/>
    <!--<add key="Working" value="\\VNSGNIVDB01P\Files\P00"/>-->
    <!-- <add key="Working" value="D:\Shared\t"/>-->
    <!--<add key="Testing" value="\\VNSGNIVDB01P\Files\Q00"/>-->
    <add key="Working" value="\\VNSGNIVDB01P\TestFiles"/>
    <add key="Source" value="\Original"/>
    <add key="Target" value="\Signed"/>
    <add key="Backup" value="\Backup"/>
    <add key="ListCount" value="50"/>
    <add key="PinTitle" value="m tra mã PIN"/>
    <add key="ButtonTitle" value="ng nh"/>
    <add key="Company" value="VN82"/>
    <add key="BinhDuong" value="_VN13;_VN61;_VN79"/>
    <add key="HaNoi" value="_VN16;_VN63;_VNS3"/>
    <add key="DaNang" value="_VN14;_VN62;_VNS4"/>
    <add key="TechHN" value="_VN42"/>
    <add key="TechVSIP" value="_VN41"/>
    <add key="SignEinvoice" value="Y"/> <!-- Y: la ky einvoice; N: ky chung tu khac-->
    
    <!--<add key="ALL" value="_VN13;_VN61;_VN79;_VN16;_VN63;_VNS3;_VN14;_VN62;_VNS4;_VN41;_VN42"/>-->
    
    <!-- Truoc mat chi ap dung chu ky server cho 2 plan duoi-->
    <add key="ALL" value="_VN41;_VN42;MSHA_;MRKH_;_VN13"/>


    <!--BinhDuong khai bao so serialnum cua tocken ky cho Binh Duong-->
    <add key="_VN13" value="5404FFFEB7033FB316D672201B81B01D"/>
    <add key="_VN61" value="5404FFFEB7033FB316D672201B81B01D"/>
    <add key="_VN79" value="5404FFFEB7033FB316D672201B81B01D"/>

    <!--HaNoi-->
    <add key="_VN16" value="5404FFFEB7033FB316D672201B81AFD8"/>
    <add key="_VN63" value="5404FFFEB7033FB316D672201B81AFD8"/>
    <add key="_VNS3" value="5404FFFEB7033FB316D672201B81AFD8"/>
    
    <!--DaNang-->
    <add key="_VN14" value="5404FFFEB7033FB316D672201B81B177"/>
    <add key="_VN62" value="5404FFFEB7033FB316D672201B81B177"/>
    <add key="_VNS4" value="5404FFFEB7033FB316D672201B81B177"/>

    <!--TECH HN MARI-->
    <add key="_VN42" value="5404FFFEB7033FB316D672201B80AC78"/>
    
    <!--TECH VSIP-->
    <add key="_VN41" value="5404FFFEB7033FB316D672201B80AC44"/>

    <!--DKSH Default-->
    <add key="_VNDF" value="5404FFFEB7033FB316D672201B81B01D"/>
    
    <!--CUMMINS CDV-->
    <add key="_VN49" value="5404FFFEB7033FB316D672201B843B49"/>
    <add key="_VNT0" value="5404FFFEB7033FB316D672201B843B49"/>


    <!--Smollan-->
    <add key="_VN21" value="5404FFFEB7033FB316D672201B843B5D"/>

    <!--DKSH Pharma-->
    <add key="_VN68" value="5404FFFEB7033FB316D672201B843AE9"/>
    


    <!--add chu ky ca nhan-->
    <add key="AAA1_" value="5404FFFEB7033FB316D672201B80AC78"/>
    <!--add chu ky ca nhan-->
    <add key="AAA2_" value="5404FFFEB7033FB316D672201B80AC44"/>
    

  </appSettings>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <system.diagnostics>
    <sources>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="logFile" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="XmlDsigLogSwitch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="XmlDsigLog.txt"/>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <add name="logFile" />
      </listeners>
    </trace>
  </system.diagnostics>
 <connectionStrings>

    <remove name="sqlOth"/>
       <!--<add name="sqlOth" connectionString="Initial Catalog=VN_EINVOICE;Data Source=VNSGNAVDB01D\SQLTEST;uid=webUser;pwd=27C1A34E-41BA-403A-826B-8720E2D486F8;Connection Timeout=600;"
      providerName="System.Data.SqlClient" />-->

    <add name="sqlOth" connectionString="Initial Catalog=VN_EINVOICE;Data Source=sgnw03;uid=webUser;pwd=27C1A34E-41BA-403A-826B-8720E2D486F8;Connection Timeout=600;"
     providerName="System.Data.SqlClient" />
   
  </connectionStrings>
</configuration>
